# Node.js
Frontend/node_modules/
Frontend/.angular/git

# .NET
CastorBackend/bin/
CastorBackend/obj/

# Sistema
.DS_Store
Thumbs.db

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node

Frontend/npm-debug.log
Frontend/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
Frontend/.vscode/*
Frontend/!.vscode/settings.json
Frontend/!.vscode/tasks.json
Frontend/!.vscode/launch.json
Frontend/!.vscode/extensions.json
Frontend/.history/*

# Miscellaneous
Frontend/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
