@import '../../../../../styles.scss';

.modalDefault{

    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: 9999;
}
.gold {
    color: #cdaa6b;
    fill: #cdaa6b;
  }
.modalDefault .dialog{
    background: rgba(0,0,0,0.5);
    width: 100%;
    backdrop-filter: blur(3px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#uploadLabel{
    background: transparent;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    border: 2px solid black;
}
.zoom{
  background-color: transparent;
    padding: 0vw!important;
    min-width: 10vw!important;
}
.modalContent{
    display: flex;
    padding: 1vw;
    min-height: 60%;
    min-width: 50%;
    flex-direction: column;
    max-width: 802px;
    border-radius: 5px;
    background: rgba(14, 121, 215, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(14, 121, 215, 0.35);
    padding: 20px;
}
.modalBody{
    padding: 2vw 6vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    overflow-y: auto;
    align-items: center;
}
.form-control{
    border: 1px solid var(--unnamed-color-ffffff);
background: #A7A7A71A 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF;
border-radius: 5px;
padding: 1.5vw;
}
button.default2{
    min-width: 14vw;
    display: flex;
    justify-content: center;
}
.cropper{
    width: 50vw;
    height: 50vh;
}
